<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>首页</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/amazeui.min.js"></script>
      <script src="/static/js/scroll.js"></script>

  <link rel="stylesheet" href="/static/css/amazeui.css"/>
  <link rel="stylesheet" href="/static/css/style.css"/>


</head>



<body>
<header class="am-topbar header">
	<div class="am-container-1">
		<div class="left hw-logo">
		  <img class=" logo" src="/static/image/translogo.png"></img>
		  <img class="word" src="/static/image/translogo.png"></img>
    </div>
  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
          data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
      class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse right" id="doc-topbar-collapse">
    

    <div class=" am-topbar-left am-form-inline am-topbar-right" role="search"> <!--导航栏-->
      <ul class="am-nav am-nav-pills am-topbar-nav hw-menu">
      <li class="hw-menu-active"><a href="index.html">首页</a></li>
      <li ><a href="linkgenWeb">CDMO</a></li>
      <li><a href="linkgenWeb">XBIO小分子平台 </a></li>
      <li><a href="linkgenWeb">生物信息</a></li>
      <li><a href="linkgenWeb">奥景 </a></li>
      <li><a href="linkgenWeb">新闻动态 </a></li>
      <li><a href="linkgenWeb">关于我们</a></li>
    </ul>
    </div>

  </div>
  </div>
</header>
<div class="rollpic"> <!--下方走马灯-->
	 <div data-am-widget="slider" class="am-slider am-slider-b2" data-am-slider='{&quot;controlNav&quot;:false}' >
	  <ul class="am-slides">
	      <li><img src="/static/image/linkGen_bg1.png"/></li>
	      <li><img src="/static/image/linkGen_bg2.jpg"/></li>  	
	      <li><img src="/static/image/linkGen_bg3.jpg"/></li>
	  </ul>
    </div>
</div>
<div class="am-container-1"><!--介绍四大金刚-->
	<div class="solutions part-all">
		<div class="part-title">
			<a href="solutions.html">
			<i class="am-icon-lightbulb-o part-title-i"></i>
			<span class="part-title-span">我们所拥有的</span>
			<p>Linkgen Covers</p>
			</a>
		</div>
		<ul class="am-g part-content solutions-content">
		  <li class="am-u-sm-6 am-u-md-3 am-u-lg-3">
		  	<i class="am-icon-industry solution-circle"></i>
		  	<span class="solutions-title">CDMO</span>
		  	<p class="solutions-way">提供CDMO的化学业务</p>
		  </li>
		  <li class="am-u-sm-6 am-u-md-3 am-u-lg-3">
		  	<i class="am-icon-magic solution-circle"></i>
		  	<span class="solutions-title">XBIO小分子平台</span>
		  	<p class="solutions-way">提供一系列小分子数据平台支持研究</p>
		  </li>
		  <li class="am-u-sm-6 am-u-md-3 am-u-lg-3">
		  	<i class="am-icon-mixcloud solution-circle"></i>
		  	<span class="solutions-title">生物信息平台</span>
		  	<p class="solutions-way">提供一款全方位的一体化监管系统</p>
		  </li>
		  <li class="am-u-sm-6 am-u-md-3 am-u-lg-3">
		  	<i class="am-icon-leaf solution-circle"></i>
		  	<span class="solutions-title">奥景生物</span>
		  	<p class="solutions-way">不知道是什么</p>
		  </li>
		  
		</ul>
		
	</div>
	</div>
	

<!--<div class="three-reason">
			<div class="part-title three-reason-title">
			<span class="part-title-span w-white">选择临景的三大理由</span>
			<p class="w-white">Why Choose Linkgen</p>
			
		</div>
			<ul class="am-g part-content three-reason-content">
			  <li class="am-u-sm-4 am-u-md-4 am-u-lg-4">
			  	<div class="three-reason-img1 "></div>
			  	<p class="reason-title w-white">规模优势<br/>Scale advantage</p>
			  </li>
			  <li class="am-u-sm-4 am-u-md-4 am-u-lg-4">
			  	<div class="three-reason-img2 "></div>
			  	<p class="reason-title w-white ">领先技术<br/>Leading technology</p>
			  </li>
			  <li class="am-u-sm-4 am-u-md-4 am-u-lg-4">
			  	<div class="three-reason-img3 "></div>
			  	<p class="reason-title w-white">整合能力<br/>Integration capability</p>
			  </li>
		</ul>
		</div>-->
    <div class="toppic">
      <div class="am-container-1">
      <div class="toppic-title left">
         <i class="am-icon-dropbox toppic-title-i"></i>
         <span class="toppic-title-span">产品展示</span>
         <p>Product Show</p>
       </div>
     </div>
   </div>
    <div >
      <ul class=" product-show-ul">
        
          <li >
            <div class="product-content">
                <div class="left am-u-sm-12 am-u-md-6 am-u-lg-6 product-content-left">
                  <div class="product-show-title">
                    <h3>CDMO</h3>
                    <h4>医药领域定制研发生产</h4>
                  </div>
                
                <div class="product-show-content">
                  <div class="product-add">
                    <span>帮你百度一下：</span>
                    <div><a href="#">http://www.baidu.com</a></div>
                    <i class="am-icon-dribbble"></i>
                  </div>
                  <div class="product-intro">
                    <span>详情介绍：</span>
                    <div><p>cdmo的意思是在医药领域定制研发生产，是一种新型研发生产外包模式。医药CDMO定制研发生产包含临床阶段和商业化阶段，一般是从临床一期或者二期开始给国内外客户提供新药合成所需的中间体，进而在上市审评审批、商业化生产阶段与客户进行深度绑定。而技术开发服务作为CDMO业务的产业链前端延伸，包括新药化合物发现、合成，以及各类前期工艺研发服务。</p></div>
                    <i class="am-icon-tasks"></i>
                  </div>
                </div>
                </div>
                <div class="right am-u-sm-12 am-u-md-6 am-u-lg-6 product-content-right">
                  <img class="product-img" src="/static/image/product2.png" />
                </div>	
                <div class="clear"></div>
            </div>
          </li>	
          <li  class="gray-li">
            <div class="product-content">
                <div class="right am-u-sm-12 am-u-md-6 am-u-lg-6 product-content-right">
                  <div class="product-show-title">
                    <h3>生物医药信息平台</h3>
                    <h4>数据平台</h4>
                  </div>
                
                <div class="product-show-content">
                  <div class="product-add">
                    <span>查看地址：</span>
                    <div><a href="http://www.linkgenlab.com/">http://www.linkgenlab.com/</a></div>
                    <i class="am-icon-dribbble"></i>
                  </div>
                  <div class="product-intro">
                    <span>详情介绍：</span>
                    <div><p>Linkgen Lab 于 2017 年由具有药物化学、分子和细胞生物学专业知识的学术界和生物技术行业的科学家创立。我们努力开发高品质的产品，赢得您的满意。</p></div>
                    <i class="am-icon-tasks"></i>
                  </div>
                </div>
                </div>
                <div class="right am-u-sm-12 am-u-md-6 am-u-lg-6 product-content-right">
                  <img class="product-img" src="/static/image/product2.png" />
                </div>	
                <div class="clear"></div>
            </div>
          </li>
          <li >
            <div class="product-content">
                <div class="left am-u-sm-12 am-u-md-6 am-u-lg-6 product-content-left">
                  <div class="product-show-title">
                    <h3>生物医药信息平台</h3>
                    <h4>数据平台</h4>
                  </div>
                
                <div class="product-show-content">
                  <div class="product-add">
                    <span>查看地址：</span>
                    <div><a href="#">http://www.linkgenlab.com/</a></div>
                    <i class="am-icon-dribbble"></i>
                  </div>
                  <div class="product-intro">
                    <span>详情介绍：</span>
                    <div><p>Linkgen Lab 于 2017 年由具有药物化学、分子和细胞生物学专业知识的学术界和生物技术行业的科学家创立。我们努力开发高品质的产品，赢得您的满意。</p></div>
                    <i class="am-icon-tasks"></i>
                  </div>
                </div>
                </div>
                <div class="right am-u-sm-12 am-u-md-6 am-u-lg-6 product-content-right">
                  <img class="product-img" src="/static/image/product2.png" />
                </div>	
                <div class="clear"></div>
            </div>
          </li>
          <li class="gray-li">
            <div class="product-content">
                <div class="left am-u-sm-12 am-u-md-6 am-u-lg-6 product-content-left">
                  <div class="product-show-title">
                    <h3>生物医药信息平台</h3>
                    <h4>数据平台</h4>
                  </div>
                
                <div class="product-show-content">
                  <div class="product-add">
                    <span>查看地址：</span>
                    <div><a href="#">http://www.linkgenlab.com/</a></div>
                    <i class="am-icon-dribbble"></i>
                  </div>
                  <div class="product-intro">
                    <span>详情介绍：</span>
                    <div><p>Linkgen Lab 于 2017 年由具有药物化学、分子和细胞生物学专业知识的学术界和生物技术行业的科学家创立。我们努力开发高品质的产品，赢得您的满意。</p></div>
                    <i class="am-icon-tasks"></i>
                  </div>
                </div>
                </div>
                <div class="right am-u-sm-12 am-u-md-6 am-u-lg-6 product-content-right">
                  <img class="product-img" src="/static/image/product2.png" />
                </div>	
                <div class="clear"></div>
            </div>
          </li>
          <div class="clear"></div>
      </ul>
    </div>
    <div class=" news-all">
      <div class="am-container-1">
    <div class="news part-all">
        <div class="part-title">
          <a href="news.html">
          <i class="am-icon-newspaper-o part-title-i"></i>
          <span class="part-title-span">新闻动态</span>
          <p>Recent News of Linkgen</p>
          </a>
        </div>
        <div class="news-content ">
            <ul class="news-content-ul">
              <li class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                <a href="#">
                    <div class=" am-u-sm-12 am-u-md-12 am-u-lg-5">
                      <div class="news-img">
                      <img src="/static/image/news.png"></img>
                      </div>
                    </div>
                    <div  class=" am-u-sm-12 am-u-md-12 am-u-lg-7">
                        <span class="news-right-title">临景新闻，临景新闻</span>
                        <p class="news-right-time">2021-12-5</p>
                        <p class="news-right-words">新闻内容，新闻内容，新闻内容，新闻内容，新闻内容，新闻内容，新闻内容，新闻内容，新闻内容，新闻内容，新闻内容，新闻内容，新闻内容，</p>
                        <a href="#"><span class="see-more2">查看更多<i class="am-icon-angle-double-right"></i></span></a>
                     </div>	
                <div class="clear"></div>
                </a>
              </li>
              <li class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                <a href="#">
                    <div class=" am-u-sm-12 am-u-md-12 am-u-lg-5">
                      <div class="news-img">
                      <img src="/static/image/news1.png"></img>
                      </div>
                    </div>
                    <div  class=" am-u-sm-12 am-u-md-12 am-u-lg-7">
                        <span class="news-right-title">临景新闻，临景新闻临景新闻，临景新闻</span>
                        <p class="news-right-time">2021-12-7</p>
                        <p class="news-right-words">临景新闻，临景新闻临景新闻，临景新闻临景新闻，临景新闻临景新闻，临景新闻。。。</p>
                        <a href="#"><span class="see-more2">查看更多<i class="am-icon-angle-double-right"></i></span></a>
                     </div>	
                <div class="clear"></div>
                </a>
              </li>		
              <div class="clear"></div>
            </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    </div>
<footer class="footer ">
	
<ul>
        
        <li class="am-u-lg-4 am-u-md-4 am-u-sm-12 part-5-li2">
            <div class="part-5-title">联系我们</div>
            <div class="part-5-words2">
                <span>地址:上海市，别的忘了</span>
                <span>电话:1111222233333</span>
                <span>传真:(123) 456-7890</span>
                <span>邮箱:youxiang@qq.com</span>
                <span><i class="am-icon-phone"></i><em >013-34142342</em></span>
            </div>
        </li>
        <li class="am-u-lg-4 am-u-md-4 am-u-sm-12 ">
            <div class="part-5-title">相关链接</div>
            <div class="part-5-words2">
                <ul class="part-5-words2-ul">
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="solutions.html">解决方案</a></li>
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="product-show.html">CDMO</a></li>
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="customer-case.html">XBIO小分子平台</a></li>
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="service-center.html">生物医药信息平台</a></li>
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="about-us.html">奥景</a></li>
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="recruit.html">关于我们</a></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </li>
        <div class="clear"></div>
    </ul>
   
</footer>


<style>
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>
</body>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->


<script type="text/javascript">

</script>
</html>
